html {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main-page-wrapper {
    background:url(../img/hero.jpg) center top no-repeat, url(../img/bottom-pic.jpg) bottom no-repeat;
}
body {   
    background-color: #17191C;  
    color:#fff;   
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
   line-height: 1.42;
   width: 100%;
   min-height: 100%;
   margin: 0;
   -webkit-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.container {
    margin: 0 auto;
    width:1247px;
    
}
a {
    color: inherit;
}
.header {
    min-height: 140px;
    position: relative;
}
.logo {
    display: block;
    position: absolute;
    top: 32px;
    left: 31px;

    }
 .menu {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translatex(-50%);    
 }
 .menu__list {
     margin: 0;
     padding: 0;
 }
 .menu__item {
     display: inline-block;
     vertical-align: middle;
     margin-right: 50px;
     font-size: 14px;
    line-height: 19px;
 } 
 .menu__item :last-child {
    margin-right: 0;
 }
 .menu__link {
     font-size: 14px;
     text-decoration: none;
 }
 .menu__link:hover {
     color: #e47e3a;
 }
 .contacts {
    
    display: block;
    position: absolute;
    top: 5px;
    right: 83px;
    text-align: right;
    margin-top: 24px;   
 }
 .contacts__desc {
     font-size: 11px;
 }
 .contacts__tel {
    text-decoration: none;
    font-size: 26px;
    line-height: 32px;
 }
 .contacts__graph {
    font-size: 13px;
    line-height: 20px;
    color: #FF5500;
 }
 .preview {
    
    margin-top: 105px;
    margin-left: 483px;
 }
 .preview__container {
     width: 1000px;
 }
 .preview__proposal {    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    text-transform: uppercase;
 }
 .preview__text {      
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    margin-top: 12px;
    margin-left: 190px;
}
 
 .preview__button {    
    margin-top: 49px;  
    margin-left: 291px;  
 }
 .btn {     
font-weight: bold;
font-size: 14px;
line-height: 19px;
color:#fff ;
text-decoration: none;
text-transform: uppercase;
}    
.btn--color {
    color:#FF5500
}
.button--color {
    background: #FF5500;
    width:195px;
    height: 55px;
    border: solid #FF5500;
    border-radius: 35px;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
      
}
.button {    
    width: 195px;
    height: 55px;       
    border: solid 3px #FF5500;
    border-radius: 35px;
    color: #000000;  
     font-weight: bold;
font-size: 14px;
line-height: 19px;
}
.servis__container {
    margin-left: 294px;
}
.servis__list {
   margin-top: 244px;
   padding: 0; 
   
}
.servis__icon {
    margin-right: 250px;
    
}
.servis__item-list {
    display:inline-block;   
    margin-right: 30px;    
    background: #FFFFFF;
    border-radius: 5px;
    width: 362px;
    min-height: 476px;       
     color: #000;
     display: inline-block;
     margin-right: 30px;
     background: #FFFFFF;
     border-radius: 5px;
     width: 362px;
     min-height: 476px;
     color: #000;
     vertical-align: top;
     padding: 20px 33px;
}
.servis__item-list:last-child {
    margin: 0;
}
*{  box-sizing: border-box;}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
.servis__item-list :last-child {
    margin-right: 0;
}

.servis__title {  
    font-size: 32px;
    line-height: 44px;
    margin-right: 172px;
    
}

 
.servis__conditions-block {
    display: inline-block;
    vertical-align: top;   
    margin-right: 30px;   
      font-size: 16px;
    line-height: 125%;    
     width: 125px;
     color: #666666;

}
.servis__conditions-block :last-child {
    margin-right: 0;
}

.servis__card-text{
  
    
    margin-top: 27px;
    color: #666666;    
}
.servis__button {
    margin-top: 64px;
    
}
.servis__button--color {
    margin-top: -4px;
}


.section__title {    
    font-weight: 400;
    font-size: 44px;
    line-height: 38px;
    margin-top: 146px;
    margin-left: 297px;
    


}
.news {
   position: relative;   
   left: 324px;
   margin-top: 54px;
   padding: 0;
  
}
.news__item { 
    display: inline-block;
    height: 390px;
    width: 527px;
    margin-right: 30px;
    position: relative;
    border-radius: 5px;
}
.news__item:last-child {
    margin: 0;
}
.news__img {
    height: 100%;
   width: 100%;
}
.news__all {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 140px;
    padding-left: 20px;
    padding-right: 20px;
}

.news__data {
    position: absolute;
    display: inline-block;   
    margin-left: 25px;
    top: -21px;
}
.news__text-speech {
  display: inline-block;
    font-size: 16px;
    line-height: 24px;   
}
    

.news__sabtitle {    
   
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
   
}
.paginator {
    margin-left: 683px;
    margin-top: 43px;
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;    
}
.paginator__list {
    margin: 0;
    padding: 0;
}
.paginator__display,  .paginator__list, .paginator__display-current, .paginator__display-all {
    display: inline-block;
    vertical-align: middle; 
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
       
}
.paginator__display {
    margin-right: 26px;
}
.paginator__item {
    display: inline-block;
    vertical-align: middle;
}
 .paginator__item--active {
    background:  #FF5500;
    border-radius: 50%;
    text-align: center;
}
.paginator__link {   
   
    display: block;
    width: 32px;
    height: 32px;
    border-radius:50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
}


.about {
    margin-top: 147px;
    margin-left: 297px;
}
.about:before {
    content: "";
    display:inline-block;
    width: 490px;
    height: 505px;
    background: url(../img/cameraman.jpg) center center /cover  no-repeat; 
}
.about__list {    
    width: 777px;
    min-height: 457px;
    padding: 71px 164px 81px 91px;
    color: #000;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 24px;
    margin-top: 113px;
    margin-left: -128px;
    display: inline-block;
    vertical-align: top;
    background: #FFFFFF;
    border-radius: 5px;
}
.about__title {   
    font-size: 39px;
    line-height: 49px;
    font-weight: bold;
    text-transform: uppercase;    
}

  
    
.about__button {
    margin-top: 50px;
    margin-left: -15px;
}
.footer {
    height: 150px;
    position: relative;
    margin-top: 45px;
   
}
.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.socials {
    top: 41px;
    right: 334px;
    position: absolute;
    margin: 0;
    padding: 0;
}
.socials__item :last-child {
    margin-right: 0;
}
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}
.contacts--footer {
    top: 10px;
}
.menu-bottom {
    display: inline-block;
     vertical-align: middle;
     margin-right: 50px;
     font-size: 14px;
    line-height: 19px;
}
.menu-footer {
    position: absolute;
    top: 44px;
    left: 38%;
    transform: translatex(-50%);
}